head{
    margin: 15px;
    padding: 15px;
    border: 15px;
}


header{
  color: aliceblue;  
  text-align: middle;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    border: 5px solid black;
    margin: 28px;
    padding: 20px;
    text-align: center;
    text-decoration-color: rgb(39, 32, 32);
}

h1{
    text-align: center;
    color: whitesmoke;
}

ol{
    font-weight: bold;
    align-items: center;
}

li{
    align-items: center;
}

ul{
    align-items: center;
    list-style-position: inside;
}

